.hth{
    padding: 10px;
    margin-top: 50px;
    text-align: left;
}
.oh{
    text-align: left;
    padding: 10px;
}
.fu{
    text-align: left;
    align-items: left;
    
}
.dual{
    text-align: left;
    padding-top: 50px;
}
.lbl{
    text-align: left;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 19px;
    font-weight: 700;
    color: rgb(233, 90, 7);
}
.frm{
    text-align: left;
    margin-top: 60px;
   
}
#cnctbtn{
    margin: 50px 20px 0 140px;
    height: 50px;
    width: 100px;
    font-weight: 600;
    color: slateblue;
    background-color: rgb(168, 196, 233);
}
#cnctbtn:hover{
    background-color: coral;  
}
#cnctimg{
    height: 600px;
    width: max-content;
}
#cncticon{
    height: 35px;
    width: 35px;
   padding: 2px;
   color: rgb(228, 15, 82);
}
.cnctip{
   width: 60%;
   height: 35px;
   border-radius: 4px;
}
#section2{
    background-color: rgb(233, 221, 221);
    padding-top: 30px;
    padding-bottom: 30px;
}
#cntct{
    text-align: left;
    font-size: 40px;
    font-family: fantasy;
    color:rgba(199, 21, 134, 0.616);
    letter-spacing:0.2em
}
#typcntct{
    font-size: 25px;
    font-family: cursive;
    font-style: italic;
}
.hppy{
    font-family:fantasy;
    color: darkorchid;
}
#h{
    font-size: 16px;
}