#thanku{
    font-size: 30px;
    color: rgb(75, 189, 118);
    font-family: monospace;
}
#odrnmbr{
    font-family: cursive;
    color: rgb(248, 64, 32);
}
#typchck{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;

}